elasticsearch>=6.0.0,<7.0.0
pytz
boto3
beautifulsoup4
lxml
requests
flask
flask_restful
netaddr
expiringdict
numpy==1.14.3
pandas==0.22.0
python-dateutil==2.7.2
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
pyopenssl
